.banner {
    height: 4rem;
    background-color: #0d6efd;
    position: relative;
    .img-banner {
        border: 2px solid white;
        position: absolute;
        bottom: 20px;
        left: 300px;
        img {
            width: 16rem;
        }
    }
    .btn-banner {
        position: absolute;
        bottom: 15px;
        left: 1350px;
    }
}
