.banner-blu {
    height: 2rem;
    background-color: #0d6efd;
}

.logo-img {
    width: 4rem;
}

li {
    font-size: 0.8rem;
}

.jumbotron {
    background-image: url(../../img/jumbotron.jpg);
    background-size: cover;
    height: 25rem;
}
